<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftGraph.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SwiftGraphExample.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E05679401AD7EA7900BB5D63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E05679551AD7EA7900BB5D63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E05679991AD7EAE400BB5D63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E05679A31AD7EAE400BB5D63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
